html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    color: #222;
    font-size: 3.3125rem;
    font-weight: 700;
    margin-bottom: 0.44rem;
}

p {
    color: rgba(34, 34, 34, 0.80);
    font-size: 1rem;
    line-height: 1.5;
}

/* Header */

header {
    padding: 20px 20px 0;
    background-color: #EEE;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__logo {
    height: 24px;
}

.header-content__logo-img {
    height: 100%;
}

.header-content__desktop-navigation {
    flex-grow: 1;
}

.header-content__desktop-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}

.header-content__desktop-navigation li {
    margin-right: 30px;
}

.header-content__desktop-navigation-item {
    text-decoration: none;
    color: #999;
    font-size: 12px;
    font-weight: 500;
}

.header-content__desktop-navigation-item--selected {
    color: #222;
}

.header-content__button {
    margin-left: 20px;
    background-color: #eee;
    color: #222;
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.header-content__mobile-navigation {
    display: none;
}

@media (max-width: 480px) {
    header {
        padding: 14px 16px 0 16px;
    }

    .header-content__desktop-navigation ul {
        display: none;
    }

    .header-content__mobile-navigation {
        display: block;
        margin-left: 20px;
    }

    .header-content__button {
        display: none;
    }
}

/* End Header */

/* Download hero Section */

.hero {
    background-color: #EEE;
    text-align: center;
    overflow: hidden;
}

/* Hero Buttons */

.hero__buttons {
    display: flex;
    justify-content: center;
    margin-top: 3.38rem;
}

.hero__buttons a {
    display: inline-block;
    margin: 0 10px;
}

.hero__buttons img {
    width: 150px;
    height: auto;
}

@media (max-width: 480px) {
    .hero {
        padding: 82px 20px 0 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 12px;
        font-weight: 400;
    }
}

/* Phone Image */

.hero__image {
    display: flex;
    justify-content: center;
    margin-top: 2.56rem;
    opacity: 0;
    /* Set opacity to 0 so it will be set to 1 in animation */
    animation: slideUp 2s ease-out forwards;
}

@media (max-width: 480px) {
    .hero__image img {
        width: 100%;
    }
}

/* Animation */

@keyframes slideUp {
    from {
        transform: translateY(50px);
        /* Initial position */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* Final position */
        opacity: 1;
    }
}

/* End Download hero Section */

/* Main Section */

.main {
    text-align: center;
    padding: 20px;
}

.main h2 {
    font-size: 53px;
    font-weight: 700;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1138px;
    margin: 0 auto;
}

.product-grid__item {
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.product-grid__item img {
    max-width: 100%;
    margin-top: 6rem;
}

.product-grid__item h3 {
    margin-top: 7.19rem;
    color: #222;
}

.product-grid__item p {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.80);
}

@media (max-width: 480px) {
    .main h2 {
        font-size: 36px;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .product-grid__item {
        /* max-height: 238px; */
    }

    .product-grid__item img {
        margin-top: 60px;
        width: 60px;
    }

    .product-grid__item h3 {
        margin-top: 60px;
    }
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1138px;
    margin: 0 auto;
    margin-top: 64px;
}

.category-grid__item {
    background-color: #343332;
    width: 100%;
    padding: 117px 40px 80px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-grid__item h3 {
    font-size: 32px;
    color: #FFF;
}

.category-grid__item h3,
.category-grid__item a {
    text-transform: uppercase;
}

.category-grid__item h4,
.category-grid__item a {
    color: rgba(255, 255, 255, 0.60);
}

.category-grid__item h4 {
    font-size: 18px;
    font-weight: 400;
}

.category-grid__item a {
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    display: inline-block;
    padding: 12px 30px;
    margin-top: 25px;
    text-decoration: none;
}

.category-grid__item a:hover {
    color: rgba(255, 255, 255);
}

@media (max-width: 480px) {
    .category-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }

    .category-grid__item {
        padding: 45px 40px 40px;
    }

    .category-grid__item h3 {
        line-height: 1;
    }

    .category-grid__item a {
        margin-top: 20px;
    }
}

/* End Main Section */


/* Footer */

footer {
    background-image: url(assets/footer-bg.png);
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-top: 128px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1138px;
    margin: 70px auto;
}

.footer-content__item {
    background-color: #fff;
    width: calc(100% - 60px * 2);
    margin: 0 60px;
    padding: 33px;
    min-height: 417px;
}

.footer-content__item h3 {
    font-size: 53px;
    color: #222;
}

.footer-content__item h4 {
    color: rgba(34, 34, 34, 0.80);
    font-size: 22px;
}

.footer-content__item p {
    font-size: 14px;
    color: rgba(34, 34, 34, 0.60);
    font-weight: 500;
}

.footer-content__item ul {
    margin-top: 20px;
}

.footer-content__item ul li {
    display: flex;
    align-items: center;
    padding-top: 21px;
}

.footer-content__item ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.footer-content__item ul li img {
    padding-right: 16px;
}

.footer-content__item--right {
    grid-column-start: 2;
}

@media (max-width: 480px) {
    footer {
        margin-top: 172px;
    }

    .footer-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-content__item {
        margin: 0 10px;
    }

    .footer-content__item--right {
        grid-column-start: auto;
        width: calc(100% - 10px * 2);
    }
}

/* End Footer */